
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

/* =================
       HEADER
   =================
 */

 body{
    height: 500vh;
    font-family: 'Space Mono', monospace;
 }

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 15vh;
    background-color: #5228F5;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    border-bottom: 2px solid #0f023f;
}

.navbar__container{
    height: 10vh;
    width: 96%;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 2rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 0 2%;


}
.navbar__container .logo{
}

.navbar__container .logo h2 {
    font-size: 2rem;
    font-weight: 700;
}

.navList__container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 0.2rem;
}

.navitem{
    padding: 1rem 0.8rem;
    margin: 0;
}


.navitem .navlink{
    font-size: 1.3rem;
    text-decoration: none;
    color: #5228F5;
    font-weight: 600;
}


/* =================
       HERO
   =================
 */

.hero__container{
   width: 100%;
   height: 100vh;
   background-color: #5228F5;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   gap: 1.2rem;
}

.hero__container .main__heading{
    font-size: 5rem;
   font-weight: 700;
   color: #fff;
}

.hero__container .tagline {
    color:#fff;
    font-size: 2rem;
    margin: 3rem 0;
    font-weight: 600;


}


.hero__container .description{
    color: #fff;
    font-size: 1.5rem;
}

.hero__btn__container{
    margin-top: 1rem;
}



.primary__btn{
    background-color: #0f023f;

    color: #fff;
    font-size: 1.8rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.primary__btn:hover{
    background-color: #291477;
    transition: color 4s ease;
}




.secondary__btn{
    background-color: transparent;
    color: #fff;
    font-size: 1.6rem;
    border: none;
    padding: 1rem 2rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 1px solid #fff;

}

.secondary__btn:hover{
    border: 1px solid #291477;
    color: #291477;

}

.fa-bars{
    display: none;
}

@media  screen and (max-width:768px) {

.navbar__container .logo h2{
    font-size: 18px;
}
    
    .hero__container{
        height: 130vh;
    }
    .hero__container .main__heading {
        font-size: 3rem;
    }
    .navList__container{
        display: none;
        display: block;
        width: 96%;
        background: #fff;
        height: 500px;
        position: absolute;
        top: 16%;
        left: 2%;
        border-radius: 32px;
        padding: 1rem 2rem;
    }
    .hamburger__close{
        font-size: 3rem;
        position: relative;
        top: 0;
        right: -26.4rem;
        color: #0f023f;
    }
    .fa-bars{
        display: block;
        font-size: 2.5rem;
        color: #0f023f;
        margin-right: 2%;
    }
    .hero__btn__container button{
        width: 300px;
    }
    .hero__btn__container .primary__btn ,
    .hero__btn__container .secondary__btn{
        display: block;
        margin: 2rem 0;
    }
}